version: 2
jobs:
  build:
    working_directory: ~/typescript-boilerplate
    docker:
      - image: circleci/node:10-stretch-browsers
    steps:
      - checkout
      - run:
          name: run smoking test
          command: bash scripts/smoking-test.sh

